---
# Promtail Helm chart values
# https://github.com/grafana/helm-charts/tree/main/charts/promtail

daemonset:
  enabled: true

resources:
  requests:
    cpu: 25m
    memory: 64Mi
  limits:
    cpu: 100m
    memory: 128Mi

config:
  clients:
    - url: http://loki.monitoring:3100/loki/api/v1/push

  snippets:
    pipelineStages:
      - cri: {}

serviceMonitor:
  enabled: true
  labels:
    release: kube-prometheus-stack

tolerations:
  - key: node-role.kubernetes.io/master
    operator: Exists
    effect: NoSchedule
  - key: node-role.kubernetes.io/control-plane
    operator: Exists
    effect: NoSchedule
