apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-admin-credentials
  namespace: {{ .Env.PROMETHEUS_NAMESPACE }}
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault-secret-store
    kind: ClusterSecretStore
  target:
    name: grafana-admin-credentials
    creationPolicy: Owner
    template:
      data:
        admin-user: "admin"
        admin-password: "{{ `{{ .password }}` }}"
  data:
    - secretKey: password
      remoteRef:
        key: grafana/admin
        property: password
