# External Secrets Operator resource configuration
# Based on Goldilocks recommendations (Burstable QoS)

# Main controller
resources:
  requests:
    cpu: 15m
    memory: 192Mi
  limits:
    cpu: 50m
    memory: 256Mi

# Cert controller
certController:
  resources:
    requests:
      cpu: 15m
      memory: 192Mi
    limits:
      cpu: 50m
      memory: 256Mi

# Webhook
webhook:
  resources:
    requests:
      cpu: 15m
      memory: 128Mi
    limits:
      cpu: 50m
      memory: 256Mi
