image:
  repository: falkordb/falkordb
  pullPolicy: IfNotPresent
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

auth:
  enabled: true
  existingSecret: ""
  existingSecretPasswordKey: "redis-password"
  password: ""

persistence:
  enabled: true
  storageClass: ""
  accessModes:
    - ReadWriteOnce
  size: 8Gi

serviceAccount:
  create: true
  automount: false
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 6379

resources:
  requests:
    cpu: 25m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

livenessProbe:
  exec:
    command:
      - redis-cli
      - ping
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3

readinessProbe:
  exec:
    command:
      - redis-cli
      - ping
  initialDelaySeconds: 5
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3

nodeSelector: {}

tolerations: []

affinity: {}

metrics:
  enabled: false
  image:
    repository: oliver006/redis_exporter
    tag: v1.66.0
    pullPolicy: IfNotPresent
  resources:
    requests:
      cpu: 15m
      memory: 64Mi
    limits:
      cpu: 100m
      memory: 128Mi
  serviceMonitor:
    enabled: false
    interval: 30s
    labels: {}
