version:
  postgresql: {{ .Env.POSTGRES_VERSION | quote }}

cluster:
  instances: 1

{{- $seccomp := .Env.POSTGRES_SECCOMP_PROFILE | strings.Split ":" }}
  seccompProfile:
    type: {{ index $seccomp 0 }}
{{- if gt (len $seccomp) 1 }}
    localhostProfile: {{ index $seccomp 1 }}
{{- end }}

  resources:
    requests:
      cpu: {{ .Env.POSTGRES_CPU_REQUEST }}
      memory: {{ .Env.POSTGRES_MEMORY_REQUEST }}
    limits:
      cpu: {{ .Env.POSTGRES_CPU_LIMIT }}
      memory: {{ .Env.POSTGRES_MEMORY_LIMIT }}

  storage:
    size: {{ .Env.POSTGRES_STORAGE_SIZE }}

  postgresql:
    parameters:
      max_connections: {{ .Env.POSTGRES_MAX_CONNECTIONS | quote }}
{{ file.Read "parameters.yaml" | strings.Indent 6 " " }}

  initdb:
    postInitTemplateSQL:
      - CREATE EXTENSION IF NOT EXISTS vector;

  enableSuperuserAccess: true
  superuserSecret: postgres-cluster-superuser
