environment:
  MEILI_NO_ANALYTICS: true
  MEILI_ENV: {{ .Env.MEILISEARCH_ENV }}

auth:
  existingMasterKeySecret: meilisearch-master-key

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000
  fsGroupChangePolicy: OnRootMismatch
  seccompProfile:
    type: RuntimeDefault

securityContext:
  capabilities:
    drop:
      - ALL
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true

resources:
  requests:
    cpu: 25m
    memory: 1536Mi
  limits:
    cpu: 200m
    memory: 2Gi

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: {{ .Env.MEILISEARCH_STORAGE_SIZE }}

{{- if .Env.MONITORING_ENABLED }}
serviceMonitor:
  enabled: true
  additionalLabels:
    release: kube-prometheus-stack
  interval: 30s
  scrapeTimeout: 10s
{{- end }}
